<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="mybasic" closeTimeout="00:10:00" sendTimeout="00:10:00"
            maxReceivedMessageSize="100000000" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="WcfService.HomeService">
        <endpoint address="http://192.168.23.1:8732/HomeService" binding="basicHttpBinding"
            bindingConfiguration="mybasic" contract="WcfService.IHomeService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
            contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.23.1:8732" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>
