<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- Change to the actual app id -->
    <add key="AppID" value="1001"/>
    <!-- Should change the apollo config service url for each environment -->
    <add key="Apollo.DEV.Meta" value="http://192.168.23.193:8080"/>
    <add key="Apollo.PRO.Meta" value="http://192.168.23.193:8080"/>
  </appSettings>

</configuration>
