<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessLayer.Properties.Settings.ProductDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=ProductDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BusinessLayer.Properties.Settings.OrderDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=OrderDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>